name: Data Preprocessing Workflow

# Trigger: Workflow akan jalan setiap kali kamu nge-push ke branch 'main'
on:
  push:
    branches: [ "main" ]

jobs:
  run-preprocessing:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Set up Python 3.12.7
      uses: actions/setup-python@v4
      with:
        python-version: "3.12.7"

    # 3. Install Library 
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    # 4. Jalankan script otomatisasi 

    - name: Run Preprocessing Script
      run: python automate_Elsa.py